<<<<<<< HEAD
.main{
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
=======
.main{
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
>>>>>>> fcafcfe52fb35f96c10e51c8e3077b43f209484c
}